* {
    margin: 0px;

}
body{
    background-color: black;
    color: white;
    text-align: center;
}
h1{
    text-align: center;
    padding: 20px 0;
}
.results {
    text-align: center;
    padding: 20px;
}
.result p {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}
.options {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.options buttons{
    font-size: 180px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}